services:
  # Backend Application
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: oauth-backend
    ports:
      - "5001:5000"
    environment:
      - NODE_ENV=production
      - PORT=5000
      - MONGO_URI=${MONGO_URI}
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - SESSION_SECRET=${SESSION_SECRET}
      - CLIENT_URL=${CLIENT_URL}
      - OAUTH_CALLBACK_URL=${OAUTH_CALLBACK_URL}
    restart: unless-stopped
    volumes:
      - .:/app
      - /app/node_modules


# docker run -d -p 5000:5000 --name oauth-backend-sha --env-file .env yogeshverma123/frontendmastery:37d7dd490e3d8a8f94543f1378828987c6ec8570